<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('headtags'); %>
    <title>VfanSNS｜VTuber好きのためのSNS</title>
</head>
<body>
    <h1>VfanSNS</h1>
    <div>
        <p>
            このサービスは、推しのVTuberや配信の好みが共通する人たちの交流を補佐する
            目的で作られました。
        </p>
        <p>共通の好みを持つ人のツイートだけが流れるタイムラインを作ることができます。</p>
    </div>
    <a href="#">新規登録</a>
    <a href="#">ログイン</a>
</body>
</html>